<mat-toolbar color="primary" style="position: fixed;">
  <div>
      <a routerLink="/home"> Portale CybSec</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs >
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li><div class="ciao">Pinco pallino</div></li>
        <li class="nav-item"><a  mat-button routerLink="home" routerLinkActive="active-list-item">Home</a></li>
        <li class="nav-item"><a  mat-button routerLink="chat"  routerLinkActive="active-list-item">Chat</a></li>

      </ul>
  </div>
</mat-toolbar>
