a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}



.navigation-items{
  list-style-type: none;
  position:absolute;
  padding: 0;
  margin: 0;
  top:1.5vh;

  right: 10px;
}

.navigation-items li {
  float:left;
  padding-left:10px ;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}

.active-list-item {
  background-color: #1e90ff;
}

.mat-toolbar.mat-primary{
  position: fixed;
  top: 0;
  z-index: 9;
}


.ciao{
font-size: 15px;
border-style: inset;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
padding: 2px 8px 2px 8px;

border-color: rgba(30, 30, 250, 0.801);
background-color: #1165ff70;
}
