# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mario\OneDrive\Desktop\Università\Magistrale\Tecnologie e architetture avanzate per lo sviluppo del software\StudentOne\microservizi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
