<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>


</head>	

<h2 mat-dialog-title>Informazioni Evento:</h2>

<button class="mat-raised-button" (click)="singleEventSelection()">Evento Singolo</button>&nbsp;&nbsp;
<button class="mat-raised-button" (click)="recurrentEventSelection()">Evento Ricorrente</button>

<div [hidden] = "hiddenSingleEvent">
<div *ngIf="this.listDropDown != null">
<mat-dialog-content [formGroup]="form" >

		<mat-form-field>
			<label>Nome Evento(SOLO valori alfanumerici):&nbsp;&nbsp;</label>
			<input matInput
				   formControlName="title"
				   type="text" pattern="([A-z0-9À-ž\s]){2,}" title="Three letter country code" required >
		</mat-form-field>

		<mat-form-field>
			<label>Orario di inizio:&nbsp;&nbsp;</label>
			<input matInput
				   formControlName="startTime"
				   type="time">
		</mat-form-field>

		<mat-form-field>
			<label>Orario di fine:&nbsp;&nbsp;</label>
			<input matInput
				   formControlName="endTime"
				   type="time">
		</mat-form-field>
		
		<div *ngIf="isProfessor; else elseBlock">
			<mat-form-field appearance="fill">
				<mat-label>Corso:</mat-label>
				<mat-select formControlName="dropDown">
				<mat-option>--</mat-option>
					<mat-option *ngFor="let elem of listDropDownCourses" [value]="elem">
						{{elem.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<ng-template #elseBlock>
			<mat-form-field appearance="fill">
			<mat-label>Gruppo di lavoro:</mat-label>
			<mat-select formControlName="dropDown">
			<mat-option>--</mat-option>
				<mat-option *ngFor="let elem of listDropDownWG" [value]="elem">
					{{elem.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		</ng-template>
</mat-dialog-content>
</div>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button [disabled]="form.invalid" class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>
</div>

<div [hidden] = "hiddenRecurrentEvent">
<mat-dialog-content [formGroup]="form" >

    <mat-form-field>
		<label>Nome Evento(SOLO valori alfanumerici):&nbsp;&nbsp;</label>
        <input matInput
               formControlName="title"
			   type="text" pattern="([A-z0-9À-ž\s]){2,}" required>
    </mat-form-field>

    <mat-form-field>
		<label>Orario di inizio:&nbsp;&nbsp;</label>
		<input matInput
               formControlName="startTime"
			   type="time">
    </mat-form-field>

    <mat-form-field>
		<label>Orario di fine:&nbsp;&nbsp;</label>
        <input matInput
               formControlName="endTime"
			   type="time">
    </mat-form-field>
	
	<mat-checkbox type="checkbox" formControlName="lun">Lun</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
	<mat-checkbox type="checkbox" formControlName="mar">Mar</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
	<mat-checkbox type="checkbox" formControlName="mer">Mer</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
	<mat-checkbox type="checkbox" formControlName="gio">Gio</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
	<mat-checkbox type="checkbox" formControlName="ven">Ven</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
	<mat-checkbox type="checkbox" formControlName="sab">Sab</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
	<mat-checkbox type="checkbox" formControlName="dom">Dom</mat-checkbox>
	
	<mat-form-field>
		<label>Giorno di fine ricorrenza:&nbsp;&nbsp;</label>
        <input matInput
               formControlName="endRecur"
			   type="date">
    </mat-form-field>
	
	<div *ngIf="isProfessor; else elseBlock">
		<mat-form-field appearance="fill">
			<mat-label>Corso:</mat-label>
			<mat-select formControlName="dropDown">
			<mat-option>--</mat-option>
				<mat-option *ngFor="let elem of listDropDownCourses" [value]="elem">
					{{elem.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<ng-template #elseBlock>
		<mat-form-field appearance="fill">
		<mat-label>Gruppo di lavoro:</mat-label>
		<mat-select formControlName="dropDown">
		<mat-option>--</mat-option>
			<mat-option *ngFor="let elem of listDropDownWG" [value]="elem">
				{{elem.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	</ng-template>
	
</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button [disabled]="form.invalid" class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>
</div>
