<mat-table #table [dataSource]="courseList" matSortDisableClear>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cfu">
        <mat-header-cell *matHeaderCellDef>CFU</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.cfu}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lesson_hours">
        <mat-header-cell *matHeaderCellDef>Ore di lezione</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.lesson_hours}}</mat-cell>
    </ng-container>
	<ng-container matColumnDef="actions">
		<mat-header-cell  *matHeaderCellDef > Azioni </mat-header-cell>
		<mat-cell *matCellDef="let row" >
		
			<div *ngIf="isProfessor; else elseBlockStudent">
				<div *ngIf="isAssignedOrLiked(row.id); else elseBlockTeach">
					<button class="mat-raised-button mat-primary"
					(click)="delete(row.id)">
						Non insegnare
					</button>
				</div>
				<ng-template #elseBlockTeach>
					<button class="mat-raised-button mat-primary"
					(click)="save(row.id)">
						Insegna
					</button>
				</ng-template>
			</div>
			
			
			
			<ng-template #elseBlockStudent>
				<div *ngIf="isAssignedOrLiked(row.id); else elseBlockSubscribe">
					<button class="mat-raised-button mat-primary"
					(click)="delete(row.id)">
						Disiscrivi
					</button>
				</div>
				<ng-template #elseBlockSubscribe>
					<button class="mat-raised-button mat-primary"
					(click)="save(row.id)">
						Iscrivimi
					</button>
				</ng-template>
			</ng-template>
			
			
			
		</mat-cell>
	</ng-container>
    <mat-header-row *matHeaderRowDef="columndefs"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columndefs"></mat-row>
</mat-table>