<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)">

  </mwl-calendar-month-view>
  <br>
  <div class ="legenda">

    <table>
      <tr>
        <td><span style="background-color: #e3bc08" class="dot"></span></td>
        <td style>Giorno non compilato</td>
      </tr>
      <tr>
        <td><span style="background-color: #00FF00" class="dot"></span></td>
        <td>Ore ordinarie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

        <td><span style="background-color: #FF8C00" class="dot"></span></td>
        <td>Ore straordinarie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

        <td><span style="background-color: #ad2121" class="dot"></span></td>
        <td>Ore straordinarie festive</td>

        <td><span style="background-color: #33FFE8" class="dot"></span></td>
        <td>Ore straordinarie notturne</td>
      </tr>
      <tr>
        <td><span style="background-color: #9400D3" class="dot"></span></td>
        <td>Ore reperibilità attiva</td>

        <td><span style="background-color: #FF1493" class="dot"></span></td>
        <td>Ore reperibilità passiva</td>

        <td><span style="background-color: #00008B" class="dot"></span></td>
        <td>Ore reperibilità festiva&nbsp;&nbsp;&nbsp;&nbsp;</td>

        <td><span style="background-color: #FFB6C1" class="dot"></span></td>
        <td>Ore reperibilità notturna&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>

  </div>
</div>
