  <div *ngIf="isLogin; else loggedOut">
    <div class="container">
      <div class="messaging">
            <div class="inbox_msg">
              <div class="inbox_people">
                <div class="headind_srch">
                  <div class="recent_heading">
                    <h4>Recenti</h4>
                  </div>
                </div>
                <div class="inbox_chat">
                  <div class="chat_list active_chat" *ngFor="let chat of chats">
                    <div class="chat_people chatInfo" (click)="setContentChat(chat)">
                      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="chat_ib">
                        <h5>{{chat.nome}}<span class="chat_date" *ngIf="chat.ultimoMessaggio!=null">{{getDate(chat.ultimoMessaggio.date)}}</span></h5>
                        <p *ngIf="chat.ultimoMessaggio!=null"><b>{{getFullName(chat.ultimoMessaggio.sender)}}: </b>{{chat.ultimoMessaggio.text}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mesgs">
                <div class="msg_history" *ngIf="contentChat != null">
                  <div *ngFor="let message of contentChat.messages">
                    <div class="incoming_msg" *ngIf="message.sender.id != this.loggedUser.id; else outgoing_Block">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><b>{{message.sender.name}} {{message.sender.surname}}</b><br>{{message.text}}</p>
                          <span class="time_date"> {{getHour(message.date)}}</span></div>
                      </div>
                    </div>
                    <ng-template #outgoing_Block>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>{{message.text}}</p>
                          <span class="time_date">{{getHour(message.date)}}</span> </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input type="text" [(ngModel)]="textToSend" class="write_msg" placeholder="Scrivi un messaggio..." />
                    <button class="msg_send_btn" type="button" (click)="sendMessageUsingSocket()"><mat-icon class="send_button">send</mat-icon></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <ng-template #loggedOut>
    <app-login></app-login>
  </ng-template>


